* {
    margin: 0;
    padding: 0;
}
.container {
    height: 50px;
    width: 800px;
    margin: 00px auto 0 auto;
}.p1{
     float:left;
 }
.parent {
    position: relative;
}
.search {
    width: 190px;
    height: 30px;
    border-radius: 18px;
    outline: none;
    border: 1px solid #ccc;
    padding-left: 20px;
    position: absolute;
}
.btn {
    height: 35px;
    width: 35px;
    position: absolute;
    background: url("static/img/sous.png") no-repeat -2px -99px;
    top: 6px;
    left: 285px;
    border: none;
    outline: none;
    cursor: pointer;
}